<html>

<body>
    <form action='/promocoes/form' method="post">
        <div>
            <label for="livro">Livro:</label>
            <select id="livro" name="livro[id]">
                <option value="">Selecione um livro</option>
                <%for(var i=0;i<lista.length;i++){%>
                    <option value="<%=lista[i].id%>"><%=lista[i].titulo%></option>
                <%}%>
            </select>
        </div>
        <input type="submit" value="Cadastrar promoção" />
</body>

</html>